:root{
	--darkblue: rgb(3,17,68);
	--grey: rgb(198,198,198);
	--white: rgb(244,244,244);
}

body,
html{
	width: 100vw;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background: var(--white) !important;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex{
	display: flex;
}

.spacer{
	width: 100vw;
	height: 50px;
	background: transparent;
	box-sizing: border-box;
	display: block;
}

header{
	width: 100vw;
	height: 10vh;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: var(--grey);
}

p{
	font-size: 16px;
	font-family: arial;
}