.intro{
	padding: 20px 10px;
	background: var(--black);
	width: 100vw;
	height: 70vh;
	overflow: hidden;
	color: var(--white);
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.intro h1{
	font-size: 35px;
	font-family: arial;
}