.intro{
	padding: 20px 10px;
	background: var(--darkblue);
	width: 100vw;
	height: 90vh;
	overflow: hidden;
	color: var(--white);
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/*.intro .container{
	padding-top: 25vh;
}*/

.intro h1{
	padding-top: 20vh;
	font-size: 35px;
	font-family: arial;
}

.intro a{
	padding-bottom: 5vh;
	color: var(--white);
}

.about{
	height: 100vh;
}